h1 LOGIN

form(action='/login',method='post')
    input(type='text', name='username')
    label(for='username') Username
    input(type='text', name='password')
    label(for='password') Password
    input(type='submit', value='Login')